.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.inactive {
  text-decoration: none;
  color: grey;
  padding-right: 16px;
  font-weight: normal;
}

.active {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-right: 16px;
}
